{
 :paths ["src/clj"]
 :deps {
        org.clojure/clojure      {:mvn/version "1.11.1"}
        org.clojure/java.jdbc    {:mvn/version "0.7.8"}
        org.xerial/sqlite-jdbc   {:mvn/version "3.23.1"}
        quil/quil                {:mvn/version "3.1.0"}
        org.httpserver/jar {:local/root "libs/HttpServer.jar"}
        }
 :aliases {
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}
                   :ns-default build}
           :run {:main-opts ["-m" "clj.tictactoe.core" "console"]}
           :console {:main-opts ["-m" "clj.tictactoe.core" "console"]}
           :quil {:main-opts ["-m" "clj.tictactoe.core" "quil"]}
           :web {:main-opts ["-m" "clj.tictactoe.core" "web"]}
           :test {:extra-deps {speclj/speclj {:mvn/version "3.3.2"}}
                  :extra-paths ["spec/clj"]}
           :spec {:main-opts ["-m" "speclj.main" "-c"]}
           }
 }