{
 :paths ["src/clj" "src/cljs" "resources"]
 :deps {
        org.clojure/clojure      {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.10.764"}
        org.clojure/java.jdbc    {:mvn/version "0.7.8"}
        org.xerial/sqlite-jdbc   {:mvn/version "3.23.1"}
        quil/quil                {:mvn/version "3.1.0"}
        org.httpserver/jar {:local/root "libs/HttpServer.jar"}
        cljsjs/react {:mvn/version "17.0.2-0"}
        cljsjs/react-dom {:mvn/version "17.0.2-0"}
        reagent/reagent {:mvn/version "1.1.0"}
        com.cleancoders.c3kit/apron {:mvn/version "1.0.2"}
        speclj/speclj {:mvn/version "3.3.2"}
        }
 :aliases {
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}
                   :ns-default build}
           :console {:main-opts ["-m" "tictactoe.main" "console"]}
           :quil {:main-opts ["-m" "tictactoe.main" "quil"]}
           :web {:main-opts ["-m" "tictactoe.main" "web"]}
           :test {:extra-paths ["spec/clj" "spec/cljs"]}
           :spec {:main-opts ["-m" "speclj.main" "-c"]}
           :cljs-spec {:main-opts ["-m" "runner.cljs" "auto" "development"]}
           :cljs-build {:main-opts ["-m" "runner.cljs" "once" "production"]}
           }
 }